*{
 padding: 0%;
 margin: 0%;
 box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Dela Gothic One", sans-serif;
    background-color: #151414;
}
#landingpage{
    height: 100%;
    width: 100%;
    position: relative;
}
img{
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
}
header{

    position: absolute;
    height: 10vh;
    width: 100%;
    z-index: 99;


}
#navbar{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
   align-items: center;
   
   justify-content:end;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: 300;
}
#navbar img{
    height: 70%;
    width: 4%;
    background-size: cover;
    margin-left: 2%;
    margin-top: 1.5%;

}
#navbar #h2{
    font-size: 0.87rem;
    display: flex;
    flex-direction: row;
    margin-right: 7%;
   gap: 4rem;
   margin-top: 1.5%;
   color: #06576b;
}
 #h2 h2:hover{
    cursor: pointer;
    color: rgb(229, 98, 75);
}
